<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/vars.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <section class="area-principla-home">
        <div class="area-img-home">
            <div class="box_principal">
                <i style="--crl:#88ff8a"></i>
                <i style="--crl:#ff8857"></i>
                <i style="--crl:#fffd44"></i>
                <div class="area-funcionalidades_principal">
                    <div class="area-h1">
                        <h1>CleanMarket</h1>
                        <p>Produtos profissionais para um ambiente mais limpo.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-buttons-home">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
            <div class="area-buttons-home">
                <div class="div-buttons">
                    <div class="area-button">
                        <div class="area-icon">
                            <img src="../assets/imgs/user.png" alt="">
                        </div>
                        <div class="area2-button">
                            <a href="../views/cadastro-usuario.php"><button>Cadastro de Usuario</button></a>
                        </div>
                    </div>
                    <div class="area-button">
                        <div class="area-icon">
                            <img src="../assets/imgs/lista-users.png" alt="">
                        </div>
                        <div class="area2-button">
                            <a href="../views/lista-usuario.php"><button>Lista de Usuario</button></a>
                        </div>
                    </div>
                    <div class="area-button">
                        <div class="area-icon">
                            <img src="../assets/imgs/cad-produtos.png" alt="">
                        </div>
                        <div class="area2-button">
                            <a href="../views/cadastro-produto.php"><button>Cadastro de produtos</button></a>
                        </div>
                    </div>
                    <div class="area-button">
                        <div class="area-icon">
                            <img src="../assets/imgs/lista-produtos.png" alt="">
                        </div>
                        <div class="area2-button">
                            <a href="../views/lista-produtos.php"><button>Lista de Produtos</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>