@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #cdd3e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-editar-principal{
    width: 100%;
    height: 96vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bolota1-editar{
    width: 200px;
    height: 200px;
    background-color: #4291be;
    border-radius: 50%;
    z-index: -1;
    position: fixed;
    bottom: 80vh;
    right: 90vw;
}
.bolota2-editar{
    width: 150px;
    height: 150px;
    background-color: #618aaa;
    border-radius: 50%;
    z-index: -1;
    position: fixed;
    top: 50vh;
    left: 0;
}
.bolota3-editar{
    width: 200px;
    height: 200px;
    background-color: #4291be;
    border-radius: 50%;
    z-index: -1;
    position: fixed;
    top: 0vw;
    left: 160vh;
}

.bolota4-editar{
    width: 140px;
    height: 140px;
    background-color: #618aaa;
    border-radius: 50%;
    z-index: -1;
    position: fixed;
    top: 20vw;
    left: 185vh;
}
.bolota5-editar{
    width: 100px;
    height: 100px;
    background-color: #4291be;
    border-radius: 50%;
    z-index: -1;
    position: fixed;
    top: 38vw;
    left: 180vh;
    transition: all .2s ease;
}

.box-principal-editar{
    width: 70%;
    height: 85vh;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border-radius: 10px;
    z-index: 2;
}

.area-img-editar{
    width: 50%;
    height: 100%;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-editar{
    width: 100%;
    height: 100%;
    background-color: white;
}

.div-editar .decoracao-editar a{
    color: white;
    position: relative;
    bottom: 28%;
    right: 40%;
    font-size: 30px;
}

.div-editar .decoracao-editar{
    width: 100%;
    height: 100%;
    border-radius: 0px 30% 30% 0%;
    background: linear-gradient(45deg,#98d1ec,#6cb2d7, #498aac, #1e6791, #155384);
    background-size: 300% 300%;
    animation: gradientAnimation 5s ease infinite; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.div-editar .decoracao-editar h1{
    color: white;
    font-size: 35px;
    position: relative;
    bottom: 5%;

}

.div-editar .decoracao-editar h2{
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 10%;

}

.area-form-editar{
    width: 50%;
    height: 100%;
    background-color: white;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.area-form-editar .div-title-editar{
    width: 100%;
    height: 20%;
    background-color: rgba(251, 0, 234, 0);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    #linha-horizontal {
        width: 150px; 
        height: 5px;
        border-right: 2px solid #4291be;
        border: 5px solid #4291be;
        border-radius: 20px;
        position: relative;
        bottom: 30%;
    }
}

.area-form-editar .div-title-editar .title-editar{
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 255, 0);
    align-items: center;
    display: flex;
    justify-content: center;
}

.area-form-editar .div-title-editar .title-editar h1{
    position: relative;
    top: 55%;
    margin-left: 3%;
}



.area-form-editar .div-form-editar{
    width: 100%;
    height: 80%;
    background-color: rgba(0, 13, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-form-editar .div-form-editar form{
    width: 70%;
    height: 100%;
    flex-direction: column;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
    bottom: 8%;
}

.area-form-editar .div-form-editar form label{
    margin-right: 20%;
    position: relative;
    top: 16px;
    width: 80%;
    background-color: rgba(0, 255, 255, 0);
    font-size: 14px;
    font-weight: 500;
}

.area-form-editar .div-form-editar form input{
    width: 100%;
    height: 40px;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 4px 5px 5px rgba(109, 106, 106, 0.349);
    border: 2px solid #4291be;
}

.area-form-editar .div-form-editar form button{
    width: 80%;
    height: 35px;
    border-radius: 6px;
    font-size: 16px;
    background-color: #4291be;
    color: white;
    transition: all .2s ease-in;
    cursor: pointer;
    font-weight: 600;
    border: none;
    position: relative;
    top: 20px;
}

.area-form-editar .div-form-editar form button:hover{
    color: #4291be;
    border: 2px solid #4291be;
    border-radius: 20px;
    background-color: transparent;
    transform: scale(1.1);
}